<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project6_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/web"
        android:label="예제 웹브라우저"
        android:roundIcon="@drawable/emo_im_cool"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project6_2">
        <activity
            android:name=".MainActivity"
            android:label="간단 웹브라우저(2018038072_임상우)"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>